{% extends "node.html.twig" %}

{% block content %}
  <article{{ attributes }}>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ link_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if not page %}
      <div class="blog-post__date">
        {{ content.field_publication_date }}
      </div>
    {% endif %}
    {{ content.body }}
  </article>
{% endblock %}